<table>
	<tr>
		<td>Application Name</td>
		<td>Avg Score</td>
		<td>Rated?</td>
	</tr>
	<% @apps.each do |app| %>
		<tr>
			<td><%= link_to app.applicant_name, app %></td>
		</tr>
	<% end %>
</table>