<div class="progress"></div>
	<form action="" method="post">
		<div id="form-basic">
			<div class="row">
				<h2>Alright, on to the questions.</h2>
			</div>
			<div class="row">
				<h3>Let's find out who you are.</h3>
			</div>
			<div class="row">
				<div class="col-md-4">
					<input type="text" name="summit[1]" placeholder="First Name" />
				</div>
				<div class="col-md-4">
					<input type="text" name="summit[2]" placeholder="Last Name" />
				</div>
				<div class="col-md-4">
					<input type="email" name="summit[3]" placeholder="Email Address" />
				</div>
			</div>
		</div>
		<div id="form-location"></div>
		<div id="form-short-answer"></div>
		<div id="form-long-answer"></div>
		<div id="form-done"></div>
	</form>