<div class="container">
	<div class="progress-bar"></div>
	<form action="" method="post">
		<div id="form-basic">
			<div class="row">
				<h2>Alright, on to the questions.</h2>
			</div>
			<div class="row">
				<h3>Let's find out who you are.</h3>
			</div>
			<div class="row">
				<div class="col-md-4">
					<input type="text" name="summit[1]" placeholder="First Name" />
				</div>
				<div class="col-md-4">
					<input type="text" name="summit[2]" placeholder="Last Name" />
				</div>
				<div class="col-md-4">
					<input type="email" name="summit[3]" placeholder="Email Address" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div>
						<input type="checkbox" name="summit[4]" id="male" value="Male">
						<label for="male">Male</label>
					</div>
					<div>
						<input type="checkbox" name="summit[4]" id="female" value="Female">
						<label for="female">Female</label>
					</div>
					<div>
						<input type="checkbox" name="summit[4]" id="decline" value="Decline to State">
						<label for="decline">Decline to State</label>
					</div>
				</div>
				<div class="col-md-4">
					<div class="label-heading">Birthday</div>
					<div>
						<select name="summit[5]">
							<option value="1">January</option>
							<option value="2">February</option>
							<option value="3">March</option>
							<option value="4">April</option>
							<option value="5">May</option>
							<option value="6">June</option>
							<option value="7">July</option>
							<option value="8">August</option>
							<option value="9">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
						<select name="summit[6]">
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select>
						<select name="summit[7]">
							<option value="2000">2000</option>
							<option value="1999">1999</option>
							<option value="1998">1998</option>
							<option value="1997">1997</option>
							<option value="1996">1996</option>
							<option value="1995">1995</option>
							<option value="1994">1994</option>
							<option value="1993">1993</option>
							<option value="1992">1992</option>
							<option value="1991">1991</option>
							<option value="1990">1990</option>
							<option value="1989">1989</option>
							<option value="1988">1988</option>
							<option value="1987">1987</option>
							<option value="1986">1986</option>
							<option value="1985">1985</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="label-heading">Video Interview</div>
					<div>
						<input type="text" name="summit[8]" placeholder="Google Plus or Skype ID" />
					</div>
				</div>
			</div>
		</div>
		<div id="form-location">
			<div class="row">
				<h2>Hi, David! Where are you from?</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<input type="text" name="summit[9]" placeholder="Nationality" />
				</div>
				<div class="col-md-4">
					<input type="text" name="summit[10]" placeholder="Ethnicity" />
				</div>
				<div class="col-md-4">
					<input type="text" name="summit[11]" placeholder="University Name" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<input type="text" name="summit[12]" placeholder="Academic Major" />
				</div>
				<div class="col-md-4">
					<select name="summit[13]">
						<option>Year of Study</option>
						<option value="Freshmen">Freshmen</option>
						<option value="Sophomore">Sophomore</option>
						<option value="Junior">Junior</option>
						<option value="Senior">Senior</option>
						<option value="Master">Master</option>
						<option value="PhD">PhD</option>
					</select>
				</div>
				<div class="col-md-4">
					<select name="summit[14]">
						<option>Degree Program</option>
						<option value="Bachelor of Arts">Bachelor of Arts</option>
						<option value="Bachelor of Science">Bachelor of Science</option>
					</select>
				</div>
			</div>
		</div>
		<div id="form-short-answer">
			<div class="row">
				<h2>IIT Delhi, impressive! You have no trouble with these short answer questions!</h2>
			</div>
			<div class="row">
				<h3>Please limit each response to 2 sentences.</h3>
				<h3>Creative responses are highly encouraged here.</h3>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<input type="text" name="summit[15]" placeholder="Please list 5 words you would use to describe yourself." />
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<input type="text" name="summit[16]" placeholder="What are some of your hobbies and interests? What do you do for fun?" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<input type="text" name="summit[17]" placeholder="In one sentence, why should we select you for ASES Summit 2016?" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<input type="text" name="summit[18]" placeholder="How did you hear about ASES Summit?" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<input type="text" name="summit[19]" placeholder="Are you affiliated with an ASES chapter? (optional)" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<input type="text" name="summit[20]" placeholder="What organizations or activities are you involved with outside of school?" />
				</div>
			</div>
		</div>
		<div id="form-long-answer">
			<div class="row">
				<h2>Almost there David! Last section, here's where we really get to know you!</h2>
			</div>
			<div class="row">
				<h3>Please limit each response to 300 words maximum.</h3>
				<h3>Can't wait to read these.</h3>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<textarea name="summit[21]" placeholder="Please discuss your entrepreneurship or business experience. How will you contribute to Summit's dynamic and vivacious atmosphere?"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<textarea name="summit[22]" placeholder="Why do you want to be a part of ASES Summit? What do you hope to gain from Summit?"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<textarea name="summit[23]" placeholder="What is your favorite mobile app? Why is it your favorite, what makes it stand out to you?"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<textarea name="summit[24]" placeholder="What else should we know about you? (optional)"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="label-heading">Resume</div>
					<div>
						<input type="file" name="summit[25]">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="label-heading">Head Shot</div>
					<div>
						<input type="file" name="summit[26]">
					</div>
				</div>
			</div>
		</div>
		<div id="form-done"></div>
	</form>
</div>