  <div id="info">
    <section class="full-height" id="home">
      <section>
        <header class="grid">
          <div class="grid__col col--1-of-3">
            <a id="logo" href="">ASES Summit</a>
          </div>
          <a class="mobile" id="mobile-nav-toggle" href="#">
            <i class="icon hamburger"></i>
          </a>
          <div id="nav" class="desktop grid__col col--2-of-3">
            <ul class="grid">
              <li class="grid__col col--1-of-1">
                <!-- <a href="">Menu</a> -->
              </li>
            </ul>
          </div>     
        </header>
        <div class="container">
          <h2>2016 ASES Summit Application</h2>
          <p class="align center">Summit starts here.</p>
        </div>
        <div class="mobile" id="disclaimer">
          Application accessible on desktop only.
        </div>
      </section>
    </section>

    <section id="details" class="full-height">
      <section>
        <div class="container">
          <div class="grid">
            <div class="grid__col col--1-of-1">
              <h4>We believe in transparency.</h4>
              <h4>Here is everything you need to know.</h4>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="grid grid--no-gutter">
            <div class="deadline grid__col col--1-of-2">
              <h5>Earlybird Deadline</h5>
              <p>$500</p>
              <p>November 20, 2015</p>
            </div><div class="deadline grid__col col--1-of-2">
              <h5>Earlybird Deadline</h5>
              <p>$600</p>
              <p>January 1, 2016</p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="grid">
            <div class="grid__col col--3-of-3">
              <h4>A breakdown of everything your conference fee does and does not cover.</h4>
              <ul id="breakdown"> 
                <li class="include">Speakers, Workshops, &amp; Events</li>
                <li class="include">Stanford Room Host</li>
                <li class="include">Food</li>
                <li class="include">Local Transportation</li>
                <li class="include">An Incredible Experience</li>
                <li class="exclude">We do not cover your flight fare</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </section>

    <section id="process" class="full-height">
      <section>
        <div class="container intro grid">
          <div class="grid__col col--1-of-1">
            <h4>Let’s take a look at the application process.</h4>
            <small>As much as we'd love to, we can't grant everyone an interview – there's simply too many of you. Every Summit for the past 17 years, we've worked hard on improving our application process – we aim for simplicity, authenticity, and fairness.</small>
          </div>
        </div>
        <div class="container steps">
          <div class="step">
            <div class="number">1</div>
            <div class="info">
              <h4>Online Application</h4>
              <p>
                <b>Earlybird:</b> 11/20/15 @ 23:59 PST
              </p>
              <p>
                <b>Regular:</b> 01/01/16 @ 23:59 PST
              </p>
              <small>
                <b>Protip:</b> Applying early significantly improves your chances of making it to an interview.
              </small>
            </div>
          </div>
          <div class="step">
            <div class="number">2</div>
            <div class="info">
              <h4>Video Call Interview</h4>
              <p>
                Nice work! We'll email you in January with your interview date!
              </p>
            </div>
          </div>
          <div class="step">
            <div class="number">3</div>
            <div class="info">
              <h4>2016 ASES Summit</h4>
              <p>
                Congratulations! See you on April 5, 2016!
              </p>
            </div>
          </div>
        </div>
      </section>
    </section>

    <section id="app-tips" class="full-height">
      <section>
        <div class="container grid">
          <div class="grid__col col--1-of-1">
            <h2>Some application tips.</h2>
            <h4>Tip 1</h4>
            <p>Be yourself. Duh! But you’d be surprised by how many generic applications we receive every year. Don’t tell us what you think we want to hear; being genuine and real goes a long, long way. If you’re a passionate person, show your passion; if you’re a funny person, give us your best joke; if you’re a weird individual, show us the weird, we love weird! ...Just not too weird…</p>
            <h4>Tip 2</h4>
            <p>Put in the time. Really think through these questions and make your responses meaningful. Longer does not mean better – we value insightful responses much more than lengthy responses. Note: It may be a good idea to write your responses in a separate document and then transfer them over to this application form.</p>
            <h4>Tip 3</h4>
            <p>Have fun. We get it. At the end of the day, you’re applying against the world’s brightest entrepreneurs for one of 35 spots to learn from the best of the best at Stanford University. But there’s nothing worse than reading an application that’s just a resume in paragraph form. Have fun with the responses and show your personality and creativity!</p>
          </div>
        </div>
      </section>
    </section>
  </div>


<div class="form container desktop">
	<div class="progress_bar">
		<ul id="steps">
			<div id="squeeze">
				<div id="scrollBar"></div>
			</div>
			
			<li class="step basic active"><a href="#form-basic">Basic</a>
				<div class="dot-surround"><div class="dot"></div>
				<div class="dot-white"></div>
				<div class="dot-blue"></div></div>
			</li>
			<li class="step location"><a href="#form-location">Location</a>
				<div class="dot-surround"><div class="dot"></div>
				<div class="dot-white"></div>
				<div class="dot-blue"></div></div>
			</li>
			<li class="step short_a"><a href="#form-short-answer">Short Answer</a>
				<div class="dot-surround"><div class="dot"></div>
				<div class="dot-white"></div>
				<div class="dot-blue"></div></div>
			</li>
			<li class="step long_a"><a href="#form-long-answer">Long Answer</a>
				<div class="dot-surround"><div class="dot"></div>
				<div class="dot-white"></div>
				<div class="dot-blue"></div></div>
			</li>
			<li class="step done"><a href="#form-done">Done!</a>
				<div class="dot-surround"><div class="dot"></div>
				<div class="dot-white"></div>
				<div class="dot-blue"></div></div>
			</li>
			<span class="stretch"></span>
		</ul>
	</div>
	<% if flash[:success] %>
		<div class="alert alert-success"><%= flash[:success] %></div>
	<% elsif flash[:error] %>
	    <div class="alert alert-error"><%= flash[:error] %></div>
	<% end %>
	<%= form_for @user, url:"http://ases.herokuapp.com/summit/new", :html => {:id => "summit_app", :multipart => true} do |f| %>
	<!-- <form action="" method="post"> -->
		<div class="pane control-group" id="form-basic">
			<div class="row heading">
				<h2 class="col s10 offset-s1 center-align">On to the questions.</h2>
				<h3 class="col s10 offset-s1 center-align">Let's get to know you.</h3>
			</div>
			<div class="row">
				<div class="col s4 input-field">
					<input type="text" id="first_name" name="user[first_name]" class="validate" />
					<label data-error="Please fill this in." for="first_name">First Name</label>
				</div>
				<div class="col s4 input-field">
					<input type="text" id="last_name" name="user[last_name]" class="validate" />
					<label data-error="Please fill this in." for="last_name">Last Name</label>
				</div>
				<div class="col s4 input-field">
					<input type="text" id="email" name="user[email]" class="validate" />
					<label data-error="Please fill this in." for="email">Email Address</label>
				</div>
			</div>
			<div class="row">
				<div class="col s4 input-field gender">
					<div>
						<input type="radio" name="summit[1]" id="male" value="Male" class="with-gap" />
						<label data-error="Please fill this in." for="male">Male</label>
					</div>
					<div>
						<input type="radio" name="summit[1]" id="female" value="Female" class="with-gap" />
						<label data-error="Please fill this in." for="female">Female</label>
					</div>
					<div>
						<input type="radio" name="summit[1]" id="decline" value="Decline to State" class="with-gap" />
						<label data-error="Please fill this in." for="decline">Decline to State</label>
					</div>
				</div>
				<div class="col s4 input-field birthday">
					<div class="label-heading">Birthday</div>
					<div>
						<select id="birth-month" class="validate" data-error="Please fill this in.">
							<option value="">Month</option>
							<option value="1">January</option>
							<option value="2">February</option>
							<option value="3">March</option>
							<option value="4">April</option>
							<option value="5">May</option>
							<option value="6">June</option>
							<option value="7">July</option>
							<option value="8">August</option>
							<option value="9">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
						<select id="birth-day" class="validate" data-error="Please fill this in.">
							<option value="">Day</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select>
						<select id="birth-year" class="validate" data-error="Please fill this in.">
							<option value="">Year</option>
							<option value="2000">2000</option>
							<option value="1999">1999</option>
							<option value="1998">1998</option>
							<option value="1997">1997</option>
							<option value="1996">1996</option>
							<option value="1995">1995</option>
							<option value="1994">1994</option>
							<option value="1993">1993</option>
							<option value="1992">1992</option>
							<option value="1991">1991</option>
							<option value="1990">1990</option>
							<option value="1989">1989</option>
							<option value="1988">1988</option>
							<option value="1987">1987</option>
							<option value="1986">1986</option>
							<option value="1985">1985</option>
						</select>
						<input type="hidden" name="summit[2]" id="birth-text" value="1/01/2000" />
					</div>
				</div>
				<div class="col s4 input-field video-interview">
					<input type="text" id="video_interview" name="summit[3]" class="validate" />
					<label data-error="Please fill this in." for="video_interview">Google Plus or Skype ID</label>
				</div>
			</div>
		</div>
		<div class="pane" id="form-location">
			<div class="row heading">
				<h3 class="col s10 offset-s1 center-align">Hi<span class="name_placeholder"></span>, where are you from?</h3>
			</div>
			<div class="row">
				<div class="col s4 input-field">
					<input type="text" id="nationality" name="summit[4]" class="validate" />
					<label data-error="Please fill this in." for="nationality">Nationality</label>
				</div>
				<div class="col s4 input-field">
					<input type="text" id="ethnicity" name="summit[6]" class="validate" />
					<label data-error="Please fill this in." for="ethnicity">Ethnicity</label>
				</div>
				<div class="col s4 input-field">
					<input type="text" id="college_name" name="summit[8]" class="validate" />
					<label data-error="Please fill this in." for="college_name">University Name</label>
				</div>
			</div>
			<div class="row">
				<div class="col s4 input-field">
					<input type="text" id="major" name="summit[5]" class="validate" />
					<label data-error="Please fill this in." for="major">Academic Major</label>
				</div>
				<div class="col s4 input-field">
					<select name="summit[7]" class="validate" data-error="Please fill this in.">
						<option value="">Year of Study</option>
						<option value="Freshmen">Freshmen</option>
						<option value="Sophomore">Sophomore</option>
						<option value="Junior">Junior</option>
						<option value="Senior">Senior</option>
						<option value="Master">Master</option>
						<option value="PhD">PhD</option>
					</select>
				</div>
				<div class="col s4 input-field">
					<select name="summit[9]" class="validate" data-error="Please fill this in.">
						<option value="">Degree Program</option>
						<option value="Bachelor of Arts">Bachelor of Arts</option>
						<option value="Bachelor of Science">Bachelor of Science</option>
						<option value="Master of Arts">Master of Arts</option>
						<option value="Master of Science">Master of Science</option>
						<option value="PhD">PhD</option>
					</select>
				</div>
			</div>
		</div>
		<div class="pane" id="form-short-answer">
			<div class="row heading">
				<h3 class="col s10 offset-s1 center-align"><span class="college_placeholder">Impressive</span>! You'll have no trouble with these short answer questions!</h3>
				<h4 class="col s10 offset-s1 center-align">Please limit each response to 2 sentences.</h4>
				<h5 class="col s10 offset-s1 center-align">Creative responses are highly encouraged here.</h5>
			</div>
			<div class="row">
				<div class="col s8 offset-s2 input-field">
					<textarea class="materialize-textarea validate" id="five-words" name="summit[10]"></textarea>
					<label data-error="Please fill this in." for="five-words">Please list 5 words you would use to describe yourself.</label>
				</div>
			</div>
			<div class="row">
				<div class="col s8 offset-s2 input-field">
					<textarea class="materialize-textarea validate" id="hobbies-interests" name="summit[11]"></textarea>
					<label data-error="Please fill this in." for="hobbies-interests">What are some of your hobbies and interests? What do you do for fun?</label>
				</div>
			</div>
			<div class="row">
				<div class="col s8 offset-s2 input-field">
					<textarea class="materialize-textarea validate" id="why-select" name="summit[12]"></textarea>
					<label data-error="Please fill this in." for="why-select">In one sentence, why should we select you for ASES Summit 2016?</label>
				</div>
			</div>
			<div class="row">
				<div class="col s8 offset-s2 input-field">
					<textarea class="materialize-textarea validate" id="hear" name="summit[13]"></textarea>
					<label data-error="Please fill this in." for="hear">How did you hear about ASES Summit?</label>
				</div>
			</div>
			<div class="row">
				<div class="col s8 offset-s2 input-field">
					<textarea class="materialize-textarea validate optional" id="affiliation" name="summit[14]"></textarea>
					<label data-error="Please fill this in." for="affiliation">Are you affiliated with an ASES chapter? (optional)</label>
				</div>
			</div>
			<div class="row">
				<div class="col s8 offset-s2 input-field">
					<textarea class="materialize-textarea validate" id="organizations-activities" name="summit[15]"></textarea>
					<label data-error="Please fill this in." for="organizations-activities">What organizations or activities are you involved with outside of school?</label>
				</div>
			</div>
		</div>
		<div class="pane" id="form-long-answer">
			<div class="row heading">
				<h3 class="col s10 offset-s1 center-align">Almost there<span class="name_placeholder"></span>! Last section - here's where we really get to know you!</h3>
				<h4 class="col s10 offset-s1 center-align">Please limit each response to 300 words maximum.</h4>
				<h5 class="col s10 offset-s1 center-align">Can't wait to read these.</h5>
			</div>
			<div class="row">
				<div class="col s8 offset-s2 input-field">
					<textarea class="materialize-textarea validate" id="experience" name="summit[16]"></textarea>
					<label data-error="Please fill this in." for="experience">Discuss your entrepreneurship/business experience. How will you contribute to Summit's dynamic, vivacious atmosphere?</label>
				</div>
			</div>
			<div class="row">
				<div class="col s8 offset-s2 input-field">
					<textarea class="materialize-textarea validate" id="why-participate" name="summit[17]"></textarea>
					<label data-error="Please fill this in." for="why-participate">Why do you want to be a part of ASES Summit? What do you hope to gain from Summit?</label>
				</div>
			</div>
			<div class="row">
				<div class="col s8 offset-s2 input-field">
					<textarea class="materialize-textarea validate" id="favorite-app" name="summit[18]"></textarea>
					<label data-error="Please fill this in." for="favorite-app">What is your favorite mobile app? Why is it your favorite, what makes it stand out to you?</label>
				</div>
			</div>
			<div class="row">
				<div class="col s8 offset-s2 input-field">
					<textarea class="materialize-textarea validate optional" id="anything-else" name="summit[19]"></textarea>
					<label data-error="Please fill this in." for="anything-else">What else should we know about you? (optional)</label>
				</div>
			</div>
			<div class="row">
				<div class="col s8 offset-s2 file-field input-field">
					<div class="label-heading"><span>Resume</span> (save as <code>LASTNAME_FIRSTNAME_RESUME.pdf</code>)</div>
					<div class="file-upload">
						<input class="file-path validate" type="text"/>
						<label data-error="Please fill this in."></label>
						<div class="btn">
							<span>Upload</span>
							<input type="file" name="user[resume]" id="user_resume">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s8 offset-s2 file-field input-field">
					<div class="label-heading"><span>Head Shot</span> (save as <code>LASTNAME_FIRSTNAME_PHOTO.png</code>)</div>
					<div class="file-upload">
						<input class="file-path validate" type="text"/>
						<label data-error="Please fill this in."></label>
						<div class="btn">
							<span>Upload</span>
							<input type="file" name="user[image]" id="user_image">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pane" id="form-done">
			<div class="row">
				<h2 class="col s8 offset-s2 center-align">You made it.</h3>
			</div>
			<div class="row center-align">
				<input type="submit" name="commit" value="Submit!" class="btn">
			</div>
		</div>
		
	<!-- </form> -->
	<% end %>
</div>
<script>

$(document).ready(function() {
	<% if flash[:success] %>
	$('#summit_app').remove();
	$('.progress_bar').remove();
	$('html, body').animate({
		scrollTop: $(".alert").offset().top
	}, 2000);
	<% elsif flash[:error]%>
	$('html, body').animate({
		scrollTop: $(".alert").offset().top
	}, 2000);
	<% else %>
	$(document).scroll(
		function() {
			var scrollY = $(document).scrollTop(); 
			var formY =  $('div#form-basic').offset().top;
			var bar = $('.progress_bar');
			if (scrollY >= formY) {
				bar.css('display', 'block'); 
			} else {
				bar.css('display', 'none');
			}
		}
	);
	$('select').material_select();
	$('form').on('submit', function(e) {
		$('input[type="text"], textarea').each(function() {
			if (!$(this).hasClass('optional') && $(this).val() == '') {
				$(this).addClass('invalid');
			} else {
				$(this).removeClass('invalid');
			}
		});
		if ($('input[type="radio"]:checked').length == 0) {
			$('.gender').append('<input style="display: none" type="text" class="validate invalid" /><label class="label" data-error="Please fill this in."></label>');
		} else {
			$('.gender .validate').remove();
		}
		$('select').each(function() {
			var input = $(this).siblings('input')
			if ($(this).find('option:selected:first').val() == '') {
				input.addClass('validate invalid');
				input.after('<label style="margin-left: -10px" data-error="Please fill this in."></label>');
			} else {
				input.removeClass('validate invalid');
				input.next().remove();
			}
		});
		if ($('.invalid').length > 0) {
			$('html, body').animate({
				scrollTop: $('.invalid:first').offset().top - 150
			}, 1000);
			e.preventDefault();
			return false;
		}
	});
	<% end %>
});
</script>


