// Place all the styles related to the Summit controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import url(http://fonts.googleapis.com/css?family=Questrial);
@font-face {
    font-family: 'Gotham';
    src: font-url('Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: font-url('Gotham-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: font-url('Gotham-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: font-url('Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body {
  font-size: 22px !important;
  font-family: 'Gotham', Helvetica !important;
}
.navbar-text {
  display: none;
}
#summit_app {
  .caret {
    top: 22px;
  }
  h2 {
    font-size: 2.25em;
    font-weight: bold;
    line-height: 1.875em;
    margin-top: 0;
  }
  h3 {
    font-size: 1.75em;
    font-weight: bold;
    line-height: 1.625em;
    margin-top: 0;
  }
  h4 {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.125em;
    margin-top: 1.8em;
  }
  h5 {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.125em;
    margin-bottom: 1.2em;
  }
  input[type="text"], textarea {
    border: none;
    border-bottom: 1px #243877 solid;
    border-radius: 0;
    outline: none;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    font-size: 1em;
    box-shadow: none;
  }
  input[type="text"]{
    height: 2.5em;
  }
  input.invalid + label.active:after, textarea.invalid + label.active:after {
    display: none;
  }
  input.invalid + label:after, textarea.invalid + label:after {
    font-size: 0.6em;
  }
  #form-done .btn {
    height: 72px;
    font-size: 1.2em;
  }
  textarea {
    margin-bottom: 1em;
  }
  .gender {
    margin-top: 0px;
    label {
      color: #243877;
    }
    div {
      margin-left: -10px;
      margin-bottom: 5px;
    }
  }
  .birthday {
    .caret {
      right: 15px;
    }
    .select-wrapper {
      float: left;
      &:nth-of-type(1) {
        width: 50%;
      }
      &:nth-of-type(2) {
        width: 20%;
      }
      &:nth-of-type(3) {
        width: 30%;
      }
    }
  }
  [type="radio"]:checked + label:after {
    background-color: #243877;
    border-color: #243877;
  }
  [type="radio"].with-gap:checked + label:before {
    border-color: #243877;
  }
  .row {
    margin-bottom: 3em;
  }
  label {
    font-size: 1em;
    font-weight: 500;
    width: 100%;
  }
  label.active {
    color: #243877;
    font-size: 0.8em;
  }
  .dropdown-content li > span {
    color: #243877;
  }
  .label-heading {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0.6em;
    span {
      font-weight: 600;
    }
  }
  .btn {
    background-color: #243877;
    box-shadow: none;
    &:hover {
      background-color: #445897;
    }
    &:active {
      background-color: #041857;
    }
  }
  .file-upload {
    margin-top: 2em;
    font-size: 0.8em;
    input[type="text"] {
      float: right;
      width: 75%;
    }
  }
}
.progress_bar {
	position: fixed;
	left: 0;
	top: 0;
	background: #243877;
	height: 100px;
	width: 100%;
	z-index: 2;
}
.pane {
	width: 100%;
	min-height: 100vh;
	padding-top: 150px;
}
ul#steps {
	padding: 0 100px;
	display: flex;
  justify-content: center;
  margin: 0;
}
ul#steps li {
  color: white;
  display: block;
  padding: 18px 40px;
  width: 20%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  a {
  	text-decoration: none;
  	color: white;
  }
  .dot-surround {
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }
  .dot-white {
    background: #243877;
    height: 24px;
    width: 24px;
    margin: 0 auto;
    border-radius: 50%;
    content: "";
    z-index: -1;
    position: relative;
    top: -17px;
  }
  
  .dot-blue {
    background: #243877;
    height: 18px;
    width: 18px;
    margin: 0 auto;
    border-radius: 50%;
    content: "";
    z-index: 2;
    position: relative;
    top: -38px;
  }
  .dot {
  	background: white;
  	position: relative;
  	height: 10px;
    z-index: 4;
  	width: 10px;
  	margin: 0 auto;
  	border-radius: 50%;
    display: block;
  	margin-top: 8px;
  }
}
li.active .dot-surround .dot-white {
  background: white !important;
}

#scrollBar {
  background: white;
  display: block;
  height: 4px;
  position: absolute;
  top: 60px;
  z-index: -3;
  margin: 0 100px;
}
#mytest {
  position: fixed;
  bottom: 40px;
}
body {
  height: 1400px;
  color: #243877;
}