// Place all the styles related to the Summit controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import url(http://fonts.googleapis.com/css?family=Questrial);
@font-face {
    font-family: 'Gotham';
    src: font-url('Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: font-url('Gotham-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: font-url('Gotham-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: font-url('Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: font-url('Gotham-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
body {
  font-size: 22px !important;
  font-family: 'Gotham', Helvetica !important;
  -webkit-font-smoothing: antialiased;
}
.navbar-text {
  display: none;
}
.alert {
  margin-top: 200px;
  text-align: center;
}
#summit_app {
  textarea#experience {
    padding: 35px inherit;
  }
  .caret {
    top: 22px;
  }
  h2 {
    font-size: 2.25em;
    font-weight: 800;
    line-height: 1.875em;
    margin-top: 0;
  }
  h3 {
    font-size: 1.75em;
    font-weight: bold;
    line-height: 1.625em;
    margin-top: 0;
  }
  h4 {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.125em;
    margin-top: 1.8em;
    margin-bottom: 0;
  }
  h5 {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.125em;
    margin-bottom: 1.2em;
  }
  input[type="text"], textarea {
    border: none;
    border-bottom: 1px #243877 solid;
    border-radius: 0;
    outline: none;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    font-size: 1em;
    box-shadow: none;
  }
  input[type="text"]{
    height: 2.5em;
  }
  input.invalid + label.active:after, textarea.invalid + label.active:after {
    display: none;
  }
  input.invalid + label:after {
    font-size: 0.6em;
  }
  textarea.invalid + label:after {
    font-size: 0.6em;
    margin-top: 25px;
  }
  #form-done .btn {
    height: 72px;
    font-size: 1.2em;
  }
  .gender {
    margin-top: 0px;
    label {
      color: #243877;
    }
    div {
      margin-left: -10px;
      margin-bottom: 5px;
    }
    label.label {
      margin-top: 60px;
    }
  }
  .video-interview {
    margin-top: 50px;
    input {
      margin-top: 11px;
    }
    input.invalid + label:after {
      margin-top: 11px;
    }
  }
  .birthday {
    .caret {
      right: 15px;
    }
    .select-wrapper {
      float: left;
      &:nth-of-type(1) {
        width: 48%;
      }
      &:nth-of-type(2) {
        width: 24%;
      }
      &:nth-of-type(3) {
        width: 28%;
      }
    }
  }
  [type="radio"]:checked + label:after {
    background-color: #243877;
    border-color: #243877;
  }
  [type="radio"].with-gap:checked + label:before {
    border-color: #243877;
  }
  .row {
    margin-bottom: 2em;
  }
  label {
    font-size: 1em;
    font-weight: 500;
    width: 100%;
  }
  label.active {
    color: #243877;
    font-size: 0.65em;
  }
  .dropdown-content li > span {
    color: #243877;
  }
  .label-heading {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0.6em;
    span {
      font-weight: 600;
    }
  }
  .heading {
    margin-bottom: 3em;
  }
  .btn {
    background-color: #243877;
    box-shadow: none;
    &:hover {
      background-color: #445897;
    }
    &:active {
      background-color: #041857;
    }
  }
  .file-upload {
    margin-top: 2em;
    font-size: 0.8em;
    input[type="text"] {
      float: right;
      width: 75%;
    }
    input.invalid + label:after {
      margin-top: 50px;
      font-size: 0.8em;
    }
  }
}
.progress_bar {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background: #243877;
  height: 100px;
  width: 100%;
  z-index: 2;
}
.pane {
  width: 100%;
  min-height: 100vh;
  padding-top: 150px;
}
ul#steps {
  padding: 0 100px;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  margin: 0;
}
ul#steps li {
  color: white;
  display: block;
  padding: 18px 40px;
  width: 20%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1em;
  a {
    text-decoration: none;
    color: white;
  }
  .dot-surround {
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }
  .dot-white {
    background: #243877;
    height: 24px;
    width: 24px;
    margin: 0 auto;
    border-radius: 50%;
    content: "";
    z-index: -1;
    position: relative;
    top: -17px;
  }
  
  .dot-blue {
    background: #243877;
    height: 18px;
    width: 18px;
    margin: 0 auto;
    border-radius: 50%;
    content: "";
    z-index: 2;
    position: relative;
    top: -38px;
  }
  .dot {
    background: white;
    position: relative;
    height: 10px;
    z-index: 4;
    width: 10px;
    margin: 0 auto;
    border-radius: 50%;
    display: block;
    margin-top: 8px;
  }
}
li.active .dot-surround .dot-white {
  background: white !important;
}

#scrollBar {
  background: white;
  display: block;
  height: 4px;
  position: absolute;
  top: 60px;
  z-index: -3;
  margin: 0 100px;
}
#mytest {
  position: fixed;
  bottom: 40px;
}
body {
  height: 1400px;
  color: #243877;
}

@media screen and (max-width: 799px) {
  .container.form.desktop {
    display: none;
  }
}

#info {
  display: block; 
  width: 100%; 
  height: auto;
  // primary site colors
  $accent: #CB6A79;
  $accent-light: #deadb0;
  $primary: #233E75;
  $primary-light: lighten($primary, 15%);

  * {
    box-sizing: border-box; 
  }

  @media screen and (min-width: 800px) {
    .mobile {
      display: none;
    }
    .desktop {
      display: block; 
    }
  }
  @media screen and (max-width: 800px) {
    .mobile {
      display: block;
    }
    .desktop {
      display: none; 
    }
  }

  .grid{list-style:none;margin-left:-20px}.grid > .col--2-of-2,.grid > .col--3-of-3,.grid > .col--4-of-4,.grid > .col--5-of-5,.grid > .col--6-of-6,.grid > .col--8-of-8,.grid > .col--12-of-12{width:100%}.grid > .col--1-of-2,.grid > .col--2-of-4,.grid > .col--3-of-6,.grid > .col--4-of-8,.grid > .col--6-of-12{width:50%}.grid > .col--1-of-3,.grid > .col--2-of-6,.grid > .col--4-of-12{width:33.33333%}.grid > .col--2-of-3,.grid > .col--4-of-6,.grid > .col--8-of-12{width:66.66667%}.grid > .col--1-of-4,.grid > .col--2-of-8,.grid > .col--3-of-12{width:25%}.grid > .col--3-of-4,.grid > .col--6-of-8,.grid > .col--9-of-12{width:75%}.grid > .col--push-2-of-2,.grid > .col--push-3-of-3,.grid > .col--push-4-of-4,.grid > .col--push-5-of-5,.grid > .col--push-6-of-6,.grid > .col--push-8-of-8,.grid > .col--push-12-of-12{margin-left:100%}.grid > .col--push-1-of-2,.grid > .col--push-2-of-4,.grid > .col--push-3-of-6,.grid > .col--push-4-of-8,.grid > .col--push-6-of-12{margin-left:50%}.grid > .col--push-1-of-3,.grid > .col--push-2-of-6,.grid > .col--push-4-of-12{margin-left:33.33333%}.grid > .col--push-2-of-3,.grid > .col--push-4-of-6,.grid > .col--push-8-of-12{margin-left:66.66667%}.grid > .col--push-1-of-4,.grid > .col--push-2-of-8,.grid > .col--push-3-of-12{margin-left:25%}.grid > .col--push-3-of-4,.grid > .col--push-6-of-8,.grid > .col--push-9-of-12{margin-left:75%}.grid > .col--pull-2-of-2,.grid > .col--pull-3-of-3,.grid > .col--pull-4-of-4,.grid > .col--pull-5-of-5,.grid > .col--pull-6-of-6,.grid > .col--pull-8-of-8,.grid > .col--pull-12-of-12{margin-left:-100%}.grid > .col--pull-1-of-2,.grid > .col--pull-2-of-4,.grid > .col--pull-3-of-6,.grid > .col--pull-4-of-8,.grid > .col--pull-6-of-12{margin-left:-50%}.grid > .col--pull-1-of-3,.grid > .col--pull-2-of-6,.grid > .col--pull-4-of-12{margin-left:-33.33333%}.grid > .col--pull-2-of-3,.grid > .col--pull-4-of-6,.grid > .col--pull-8-of-12{margin-left:-66.66667%}.grid > .col--pull-1-of-4,.grid > .col--pull-2-of-8,.grid > .col--pull-3-of-12{margin-left:-25%}.grid > .col--pull-3-of-4,.grid > .col--pull-6-of-8,.grid > .col--pull-9-of-12{margin-left:-75%}.grid > .col--1-of-5{width:20%}.grid > .col--push-1-of-5{margin-left:20%}.grid > .col--pull-1-of-5{margin-left:-20%}.grid > .col--2-of-5{width:40%}.grid > .col--push-2-of-5{margin-left:40%}.grid > .col--pull-2-of-5{margin-left:-40%}.grid > .col--3-of-5{width:60%}.grid > .col--push-3-of-5{margin-left:60%}.grid > .col--pull-3-of-5{margin-left:-60%}.grid > .col--4-of-5{width:80%}.grid > .col--push-4-of-5{margin-left:80%}.grid > .col--pull-4-of-5{margin-left:-80%}.grid > .col--1-of-6{width:16.66667%}.grid > .col--push-1-of-6{margin-left:16.66667%}.grid > .col--pull-1-of-6{margin-left:-16.66667%}.grid > .col--5-of-6{width:83.33333%}.grid > .col--push-5-of-6{margin-left:83.33333%}.grid > .col--pull-5-of-6{margin-left:-83.33333%}.grid > .col--1-of-8{width:12.5%}.grid > .col--push-1-of-8{margin-left:12.5%}.grid > .col--pull-1-of-8{margin-left:-12.5%}.grid > .col--3-of-8{width:37.5%}.grid > .col--push-3-of-8{margin-left:37.5%}.grid > .col--pull-3-of-8{margin-left:-37.5%}.grid > .col--5-of-8{width:62.5%}.grid > .col--push-5-of-8{margin-left:62.5%}.grid > .col--pull-5-of-8{margin-left:-62.5%}.grid > .col--7-of-8{width:87.5%}.grid > .col--push-7-of-8{margin-left:87.5%}.grid > .col--pull-7-of-8{margin-left:-87.5%}.grid > .col--1-of-12{width:8.33333%}.grid > .col--push-1-of-12{margin-left:8.33333%}.grid > .col--pull-1-of-12{margin-left:-8.33333%}.grid > .col--2-of-12{width:16.66667%}.grid > .col--push-2-of-12{margin-left:16.66667%}.grid > .col--pull-2-of-12{margin-left:-16.66667%}.grid > .col--5-of-12{width:41.66667%}.grid > .col--push-5-of-12{margin-left:41.66667%}.grid > .col--pull-5-of-12{margin-left:-41.66667%}.grid > .col--7-of-12{width:58.33333%}.grid > .col--push-7-of-12{margin-left:58.33333%}.grid > .col--pull-7-of-12{margin-left:-58.33333%}.grid > .col--10-of-12{width:83.33333%}.grid > .col--push-10-of-12{margin-left:83.33333%}.grid > .col--pull-10-of-12{margin-left:-83.33333%}.grid > .col--11-of-12{width:91.66667%}.grid > .col--push-11-of-12{margin-left:91.66667%}.grid > .col--pull-11-of-12{margin-left:-91.66667%}.grid > *,.grid > .col--1-of-2,.grid > .col--push-1-of-2,.grid > .col--pull-1-of-2,.grid > .col--2-of-2,.grid > .col--push-2-of-2,.grid > .col--pull-2-of-2,.grid > .col--1-of-3,.grid > .col--push-1-of-3,.grid > .col--pull-1-of-3,.grid > .col--2-of-3,.grid > .col--push-2-of-3,.grid > .col--pull-2-of-3,.grid > .col--3-of-3,.grid > .col--push-3-of-3,.grid > .col--pull-3-of-3,.grid > .col--1-of-4,.grid > .col--push-1-of-4,.grid > .col--pull-1-of-4,.grid > .col--2-of-4,.grid > .col--push-2-of-4,.grid > .col--pull-2-of-4,.grid > .col--3-of-4,.grid > .col--push-3-of-4,.grid > .col--pull-3-of-4,.grid > .col--4-of-4,.grid > .col--push-4-of-4,.grid > .col--pull-4-of-4,.grid > .col--1-of-5,.grid > .col--push-1-of-5,.grid > .col--pull-1-of-5,.grid > .col--2-of-5,.grid > .col--push-2-of-5,.grid > .col--pull-2-of-5,.grid > .col--3-of-5,.grid > .col--push-3-of-5,.grid > .col--pull-3-of-5,.grid > .col--4-of-5,.grid > .col--push-4-of-5,.grid > .col--pull-4-of-5,.grid > .col--5-of-5,.grid > .col--push-5-of-5,.grid > .col--pull-5-of-5,.grid > .col--1-of-6,.grid > .col--push-1-of-6,.grid > .col--pull-1-of-6,.grid > .col--2-of-6,.grid > .col--push-2-of-6,.grid > .col--pull-2-of-6,.grid > .col--3-of-6,.grid > .col--push-3-of-6,.grid > .col--pull-3-of-6,.grid > .col--4-of-6,.grid > .col--push-4-of-6,.grid > .col--pull-4-of-6,.grid > .col--5-of-6,.grid > .col--push-5-of-6,.grid > .col--pull-5-of-6,.grid > .col--6-of-6,.grid > .col--push-6-of-6,.grid > .col--pull-6-of-6,.grid > .col--1-of-8,.grid > .col--push-1-of-8,.grid > .col--pull-1-of-8,.grid > .col--2-of-8,.grid > .col--push-2-of-8,.grid > .col--pull-2-of-8,.grid > .col--3-of-8,.grid > .col--push-3-of-8,.grid > .col--pull-3-of-8,.grid > .col--4-of-8,.grid > .col--push-4-of-8,.grid > .col--pull-4-of-8,.grid > .col--5-of-8,.grid > .col--push-5-of-8,.grid > .col--pull-5-of-8,.grid > .col--6-of-8,.grid > .col--push-6-of-8,.grid > .col--pull-6-of-8,.grid > .col--7-of-8,.grid > .col--push-7-of-8,.grid > .col--pull-7-of-8,.grid > .col--8-of-8,.grid > .col--push-8-of-8,.grid > .col--pull-8-of-8,.grid > .col--1-of-12,.grid > .col--push-1-of-12,.grid > .col--pull-1-of-12,.grid > .col--2-of-12,.grid > .col--push-2-of-12,.grid > .col--pull-2-of-12,.grid > .col--3-of-12,.grid > .col--push-3-of-12,.grid > .col--pull-3-of-12,.grid > .col--4-of-12,.grid > .col--push-4-of-12,.grid > .col--pull-4-of-12,.grid > .col--5-of-12,.grid > .col--push-5-of-12,.grid > .col--pull-5-of-12,.grid > .col--6-of-12,.grid > .col--push-6-of-12,.grid > .col--pull-6-of-12,.grid > .col--7-of-12,.grid > .col--push-7-of-12,.grid > .col--pull-7-of-12,.grid > .col--8-of-12,.grid > .col--push-8-of-12,.grid > .col--pull-8-of-12,.grid > .col--9-of-12,.grid > .col--push-9-of-12,.grid > .col--pull-9-of-12,.grid > .col--10-of-12,.grid > .col--push-10-of-12,.grid > .col--pull-10-of-12,.grid > .col--11-of-12,.grid > .col--push-11-of-12,.grid > .col--pull-11-of-12,.grid > .col--12-of-12,.grid > .col--push-12-of-12,.grid > .col--pull-12-of-12,.grid > .col--2-of-2,.grid > .col--3-of-3,.grid > .col--4-of-4,.grid > .col--5-of-5,.grid > .col--6-of-6,.grid > .col--8-of-8,.grid > .col--12-of-12{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:inline-block;margin-right:-.25em;min-height:1px;padding-left:20px;vertical-align:top}@media screen and (max-width: 700px){.grid > *,.grid > .col--1-of-2,.grid > .col--push-1-of-2,.grid > .col--pull-1-of-2,.grid > .col--2-of-2,.grid > .col--push-2-of-2,.grid > .col--pull-2-of-2,.grid > .col--1-of-3,.grid > .col--push-1-of-3,.grid > .col--pull-1-of-3,.grid > .col--2-of-3,.grid > .col--push-2-of-3,.grid > .col--pull-2-of-3,.grid > .col--3-of-3,.grid > .col--push-3-of-3,.grid > .col--pull-3-of-3,.grid > .col--1-of-4,.grid > .col--push-1-of-4,.grid > .col--pull-1-of-4,.grid > .col--2-of-4,.grid > .col--push-2-of-4,.grid > .col--pull-2-of-4,.grid > .col--3-of-4,.grid > .col--push-3-of-4,.grid > .col--pull-3-of-4,.grid > .col--4-of-4,.grid > .col--push-4-of-4,.grid > .col--pull-4-of-4,.grid > .col--1-of-5,.grid > .col--push-1-of-5,.grid > .col--pull-1-of-5,.grid > .col--2-of-5,.grid > .col--push-2-of-5,.grid > .col--pull-2-of-5,.grid > .col--3-of-5,.grid > .col--push-3-of-5,.grid > .col--pull-3-of-5,.grid > .col--4-of-5,.grid > .col--push-4-of-5,.grid > .col--pull-4-of-5,.grid > .col--5-of-5,.grid > .col--push-5-of-5,.grid > .col--pull-5-of-5,.grid > .col--1-of-6,.grid > .col--push-1-of-6,.grid > .col--pull-1-of-6,.grid > .col--2-of-6,.grid > .col--push-2-of-6,.grid > .col--pull-2-of-6,.grid > .col--3-of-6,.grid > .col--push-3-of-6,.grid > .col--pull-3-of-6,.grid > .col--4-of-6,.grid > .col--push-4-of-6,.grid > .col--pull-4-of-6,.grid > .col--5-of-6,.grid > .col--push-5-of-6,.grid > .col--pull-5-of-6,.grid > .col--6-of-6,.grid > .col--push-6-of-6,.grid > .col--pull-6-of-6,.grid > .col--1-of-8,.grid > .col--push-1-of-8,.grid > .col--pull-1-of-8,.grid > .col--2-of-8,.grid > .col--push-2-of-8,.grid > .col--pull-2-of-8,.grid > .col--3-of-8,.grid > .col--push-3-of-8,.grid > .col--pull-3-of-8,.grid > .col--4-of-8,.grid > .col--push-4-of-8,.grid > .col--pull-4-of-8,.grid > .col--5-of-8,.grid > .col--push-5-of-8,.grid > .col--pull-5-of-8,.grid > .col--6-of-8,.grid > .col--push-6-of-8,.grid > .col--pull-6-of-8,.grid > .col--7-of-8,.grid > .col--push-7-of-8,.grid > .col--pull-7-of-8,.grid > .col--8-of-8,.grid > .col--push-8-of-8,.grid > .col--pull-8-of-8,.grid > .col--1-of-12,.grid > .col--push-1-of-12,.grid > .col--pull-1-of-12,.grid > .col--2-of-12,.grid > .col--push-2-of-12,.grid > .col--pull-2-of-12,.grid > .col--3-of-12,.grid > .col--push-3-of-12,.grid > .col--pull-3-of-12,.grid > .col--4-of-12,.grid > .col--push-4-of-12,.grid > .col--pull-4-of-12,.grid > .col--5-of-12,.grid > .col--push-5-of-12,.grid > .col--pull-5-of-12,.grid > .col--6-of-12,.grid > .col--push-6-of-12,.grid > .col--pull-6-of-12,.grid > .col--7-of-12,.grid > .col--push-7-of-12,.grid > .col--pull-7-of-12,.grid > .col--8-of-12,.grid > .col--push-8-of-12,.grid > .col--pull-8-of-12,.grid > .col--9-of-12,.grid > .col--push-9-of-12,.grid > .col--pull-9-of-12,.grid > .col--10-of-12,.grid > .col--push-10-of-12,.grid > .col--pull-10-of-12,.grid > .col--11-of-12,.grid > .col--push-11-of-12,.grid > .col--pull-11-of-12,.grid > .col--12-of-12,.grid > .col--push-12-of-12,.grid > .col--pull-12-of-12,.grid > .col--2-of-2,.grid > .col--3-of-3,.grid > .col--4-of-4,.grid > .col--5-of-5,.grid > .col--6-of-6,.grid > .col--8-of-8,.grid > .col--12-of-12{display:block;margin-left:0;margin-right:0;padding-left:0;width:auto}}.grid .col--centered{display:block;margin-left:auto;margin-right:auto}@media screen and (max-width: 700px){.grid{margin-left:0;width:auto}}.grid .col--d-first{float:left}.grid .col--d-last{float:right}.grid.grid--no-gutter{margin-left:0;width:100%}.grid.grid--no-gutter > *{padding-left:0}.grid.grid--no-gutter .col--span-all{margin-left:0;width:100%}.grid .col--ab{vertical-align:bottom}.grid .col--am{vertical-align:middle}
  
  a { 
    img {
      border: 0; 
    }
  }

  aside {
    background: $primary;
    color: #fff; 
    padding: 5em 0 4em;

    .container {
      margin: 0 auto; 
      max-width: 90%; 
      text-align: center;

      &.content {
        line-height: 2em;
        width: 500px;
      }
    }
  }

  .align {
    &.center {
      text-align: center;
    }
  }

  section {
    display: table;
    width: 100%;
    &.full-height {
      min-height: 100vh;
      height: 100vh;
    }
    & > section {
      display: table-cell;
      margin: 0 auto;
      vertical-align: middle;
      .container {
        margin: 0 auto; 
    
        &.header {
          font-weight: 600;
          margin-bottom: 3em;
          width: 400px; 

          h3 {
            text-align: center;
          }
        }
      }
    }
  }

  .box-shadow {
    -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.3);
  }

  .centered {
    display: block; 
    margin: 0 auto; 
  }

  .strike-through {
    font-weight: 400;
    text-align: center;

    span {
      display: inline-block; 
      padding-left: .5em;
      position: relative; 

      &:before, &:after {
        content: '';
        position: absolute;
        height: 5px; 
        width: 5.7em;
        border-bottom: 2px solid #fff; 
      }
      &:before {
        right: 100%;
        margin-right: 1em;
      }
      &:after {
        left: 100%;
        margin-left: 1em;
      }
    }
  }

  .bg {
    &.asphalt {
      background-image: url('../assets/bg_asphalt.png');
      background-size: cover; 
      background-position: center center;
    }
  }

  #home {
    background: url('../assets/hero_landing_page.jpg') no-repeat; 
    background-size: cover; 
    background-position: top center;

    .container {
      position: relative; 
      color: #fff; 
    }

    header {
      padding: 2em 3em;
      position: absolute; 
      top: 0; 
      width: 100%;
      overflow: hidden;

      a#logo {
        background: url('../assets/logo.png') no-repeat; 
        background-size: contain; 
        color: #fff;
        font-size: 2em;
        height: 3em;
        width: 100%;
        text-decoration: none; 
        text-indent: -9999999px;
      }

      #logo, div#nav {
      }
      #logo {
        float: left;
      }
      div#nav {
        overflow: hidden;
        text-align: right; 

        a {
          line-height: 3em;
        }
        ul {
          list-style: none; 

          li {
            display: inline-block;
            padding: 0 1.5em;

            a {
              color: #fff;
              text-decoration: none; 
            }
          }
        }
      }
    }
  }

  #app-tips {
    background: $primary;
    color: #fff;
    padding: 2em 0;
    .container {
      max-width: 90%;
    }
    p {
      font-size: 1em;
      line-height: 1.75em;
      max-width: 90%;
    }
    h2 {
      padding: 0;
      max-width: 90%;
    }
    h4 {
      color: $accent-light;
      margin-top: 1.5em;
    }
  }

  #process {
    color: $primary; 
    .container {
      padding-top: 0; 
    }
    p {
      font-size: 1em;
      line-height: 2em;
    }
    small {
      font-size: 1em;
    }
    .intro {
      display: block; 
      margin: 0 auto;
      text-align: center; 
      h4 {
        margin: 0 auto;
        max-width: 80%;
      }
      small {
        display: block;
        margin: 3em auto 1em;
        text-align: left;
        width: 30em;
        max-width: 80%;
      }
    }
    .steps {
      margin: 3em auto;
      position: relative; 
      .step {
        margin: 0 auto;
        text-align: center;
        max-width: 100%;
        width: 30em;
        max-width: 90%;
        position: relative;

        &:not(:first-of-type) {
          padding-top: 3em;
        }
        &:not(:last-of-type) {
          border-bottom: 4px dotted $primary-light;
        }
        &:first-child:after {
          content: '75% proceed';
          font-weight: 400;
          position: absolute; 
          bottom: -10px; 
          left: -120px;
          width: 100px;
        }
        &:nth-child(2):after {
          content: '25% proceed';
          font-weight: 400;
          position: absolute; 
          bottom: -10px; 
          left: -120px;
          width: 100px;
        }
        .info {        
          background: #fff;
          margin: 3em auto;
          padding: 2em 0;
          p {
            font-size: 1.25em;
          }
        }
        .number {
          background: #fff;
          border: 4px solid $primary;
          border-radius: 50%;
          display: block;
          font-size: 2em; 
          font-weight: 700;
          line-height: 1.9em;
          margin: 0 auto;
          height: 2em; 
          width: 2em;
          text-align: center;
        }
        &:before {
          content: ''; 
          background: $primary; 
          width: 4px; 
          height: 100%;
          position: absolute; 
          top: 0;
          left: 50%;
          z-index: -1;
        }
      }
    }
  }

  #details {
    color: $primary;
    padding: 3em 0;
    text-align: center;

    ul#breakdown {
      margin: 2em auto; 
      width: 35em;
      max-width: 80%;

      li {
        font-size: 1.25em;
        font-weight: 400;
        margin: 1em;
        line-height: 25px;
        list-style: none; 
        padding-bottom: 1em;
        padding-left: 40px;
        text-align: left; 

        &.include {
          background: url('../assets/icon_check.png') no-repeat; 
          background-position: top left;
        }
        &.exclude {
          background: url('../assets/icon_x.png') no-repeat; 
          background-position: top left;
          color: $accent-light;
          font-weight: 600;
        }
      }
    }
    h4 {
      width: 95%;
    }
    .deadline {
      margin-top: 2em;
      margin-bottom: 2em;

      &:first-child {
        border-right: 3.5px solid $primary;
      }
      &:last-child {
        border-left: 3.5px solid $primary;
      }
    }
  }

  .container {
    padding-top: 2em;
    width: 80%;

    .btn {
      margin: 4em auto 0;
      width: 10em; 
    }
    p {
      font-size: 1.2em;
    }
    h2 {
      font-size: 2.5em; 
      line-height: 1.5em;
      padding: .7em 0; 
      text-align: center;
    }
  }
}